.header__background {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.main-menu__container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.main-menu {
    position: absolute;
    top: 110px;
    right: 0;
}

.main-menu li {
    display: inline;
    margin-left: 15px;
}

.main-menu a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
    color: #C78C19;
}

.products-list {
    position: relative;
    width: 940px;
    margin: 0 auto;
    vertical-align: top;
    padding: 50px 0;
}

.products-list li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.products-list li:hover {
    border-color: #C78C19;
}

.products-list li:hover h2 {
    font-size: 34px;
}

.products-list li:active {
    border-color: #088C19;
}

.products-list h2 {
    font-size: 30px;
    font-weight: bold;
}

.product__price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.product__description {
    font-size: 18px;
}